@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{ background-color: blue; }

header
{
    color: white;
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.524);
    font: bold 16px arial;
}

main
{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 15px;

    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.282);
    background-color: white;
    font: bold 16px arial;
}

p
{ padding: 10PX; }

#res
{
    text-align: center;
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img
{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
}

footer
{
    color: white;
    margin: 15px;
    text-align: center;
    font: bold 14px arial;
}