@charset "UTF-8";

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: rgb(255, 255, 255);
    text-align: center;
}

main
{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.456);
    max-width: 600px;
    margin: auto;
    text-align: left;

    display: flex;
}

div
{
    font-weight: bold
}

#fnum
{
    margin: 10px 0px 20px 0px;
}

#finalizar, #adicionar
{
    width: 140px;
    padding: 5px;

    color: white;
    background-color: blue;
    border-style: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.386);

    font-weight: bold;
}
#finalizar:hover, #adicionar:hover
{   background-color: rgb(4, 4, 179); }

select
{
    text-align: center;
    margin: 20px 0px 20px 0px;
    width: 140px;
    border-collapse: collapse;
}

#res
{
    text-align: center;
    margin: auto;
}

header, footer
{   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.47); }